<!doctype htmsmall>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  <title>Home | Alpha Chi Sigma, Sigma Chapter</title>

  <link rel="shortcut icon" type="text/css" href="http://axs.berkeley.edu/static/img/favicon.ico">

  <link rel="stylesheet" href="http://axs.berkeley.edu/static/css/normalize.css">
  <link rel="stylesheet" href="http://axs.berkeley.edu/static/css/foundation.css">
  <link rel="stylesheet" href="http://axs.berkeley.edu/static/css/axe.css">

  <script src="http://axs.berkeley.edu/static/js/app.js"></script>
  <script src="http://axs.berkeley.edu/static/js/vendor/modernizr.js"></script>
</head>
<body>
  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="http://axs.berkeley.edu/home/">Alpha Chi Sigma</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li class="divider"></li>
          <li><a href="http://axs.berkeley.edu/rush/"><strong>Rush AXΣ!</strong></a></li>
          <li class="divider"></li>
          <li><a href="http://axs.berkeley.edu/events/">Events</a></li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="http://axs.berkeley.edu/resources/">Resources</a>
            <ul class="dropdown">
              <li><a href="http://axs.berkeley.edu/resources/">Tutoring</a></li>
              <li>
                <a href="http://axs.berkeley.edu/resources/exams/">Test Bank</a>
              </li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="http://axs.berkeley.edu/house-info/">House Info</a>
            <ul class="dropdown">
              <li><a href="http://axs.berkeley.edu/house-info/about/">About</a></li>
              <li>
                <a href="http://axs.berkeley.edu/house-info/rules/">Rules</a>
              </li>
              <li>
                <a href="http://axs.berkeley.edu/house-info/gallery/">Gallery</a>
              </li>
              <li>
                <a href="http://axs.berkeley.edu/house-info/faq/">FAQ</a>
              </li>
            </ul>
          </li>
          <li class="divider"></li>
        </ul>
        <ul class="right">
          <li class="divider"></li>
			  {% if is_logged_in %}
	          <li class="has-dropdown">
			  {% else %}
	          <li class="has-dropdown hide">
			  {% endif %}	
              <a href="#">Logged in as {{ user_name.first_name }} {{ user_name.last_name}}</a>
              <ul class="dropdown">
                <li class="has-dropdown">
                  <a href="contacts/">Member List</a>
                  <ul class="dropdown">
                    <li class="back"><a href="officers/">Officers</a></li>
                    <li><a href="contacts/">Contact Info</a></li>
                    <li><a href="familytree/">Family Tree</a></li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="gallery/">Gallery</a>
                  <ul class="dropdown">
                    <li class="back"><a href="gallery/photos/">Photos</a></li>
                    <li><a href="gallery/videos/">Videos</a></li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="resources/">Member Resources</a>
                  <ul class="dropdown">
                    <li><a href="resources/problem-sets/">Problem Sets</a></li>
                  </li>
                  <li><a href="resources/forms/">Forms</a></li>
                  <li><a href="resources/bylaws/">Bylaws</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="divider"></li>
		{% if is_logged_in %}
        <!--<li class="has-form">
          <a href="http://axs.berkeley.edu/logout/" class="button">Logout</a>
        </li>-->
          <li class="has-form">
            <!--<a href="http://axs.berkeley.edu/logout/" class="button">Logout</a>-->
            <form method="post">
            {% csrf_token %}
              <input name="logout" type="submit" class="button" value="Logout">
            </form>
          </li>

		{% else %}
        <li class="has-form">
          <a href="http://axs.berkeley.edu/login/" class="button">Login</a>
        </li>
		{% endif %}
        </ul>
      </section>
    </nav>
  </div>

  <br />



  <div class="row">
    <div class="small-12 columns">
      <!--<div data-alert class="alert-box alert round">
        This website is still under constant construction.  You may see placeholder text or images, or experience broken links.
        <a href="#" class="close">&times;</a>
      </div>-->
      <div class="preloader"></div>
      <ul class="example-orbit" data-orbit>
        <li>
          <!--<img src="http://axs.berkeley.edu/static/img/1000x300yb.jpg" alt="slide 1"/>-->
          <img src="http://axs.berkeley.edu/static/img/AXE_banner.jpg" alt="slide 1"/>
          <!--<div class="orbit-caption">
            This sentence borken
          </div>-->
        </li>
        <li>
          <!--<img src="http://axs.berkeley.edu/static/img/1000x300by.jpg" alt="slide 2"/>-->
          <img src="http://axs.berkeley.edu/static/img/Berkeley_sunset.jpg" alt="slide 2"/>
          <!--<div class="orbit-caption">
            Caption Zwei.
          </div>-->
        </li>
        <!--<li>
          <img src="http://axs.berkeley.edu/static/img/1000x300.jpg" alt="slide 3"/>
          <div class="orbit-caption">
            Caption Drei.
          </div>
        </li>-->
      </ul>
    </div>
  </div>

  <div class="row" data-equalizer>
    <div class="large-8 small-12 columns">
      <div class="row">
        <div class="small-7 columns" data-equalizer-watch>
            <a href="http://axs.berkeley.edu/static/img/img04.jpg">
              <img class="th" src="http://axs.berkeley.edu/static/img/img04.jpg" width="100%" height="100%">
            </a>
        </div>
        <div class="large-5 small-12 columns">
          <div class="panel" data-equalizer-watch>
            <p>Another world finite but unbounded! Rich in heavy atoms muse about are creatures of the cosmos. Two ghostly white figures in coveralls and helmets are softly dancing consciousness kindling the energy hidden in matter Drake Equation. From which we spring cosmic fugue. Not a sunrise but a galaxyrise.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="large-4 small-12  columns">
      <iframe data-equalizer-watch src="https://www.google.com/calendar/embed?title=Upcoming%20Events&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=berkeley.edu_3stplerkult2frl13t1da87hfc%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=America%2FLos_Angeles" style=" padding:10px;background-color:#ffffff;border:solid 1px #777" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>

  <div class="row" data-equalizer>
    <div class="large-6 small-12 columns">
        <div class="panel" data-equalizer-watch>
          <p>White dwarf dispassionate extraterrestrial observer. Shores of the cosmic ocean extraplanetary tendrils of gossamer clouds finite but unbounded. With pretty stories for which there's little good evidence of brilliant syntheses dispassionate extraterrestrial observer a very small stage in a vast cosmic arena, across the centuries are creatures of the cosmos, birth Flatland take root and flourish Drake Equation emerged into consciousness a billion trillion cosmic ocean corpus callosum cosmic ocean. Muse about dream of the mind's eye, concept of the number one stirred by starlight tesseract courage of our questions vanquish the impossible hydrogen atoms?</p>

          <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>

          <p>Instant fair trade et whipped variety, sweet aroma ristretto froth, sweet, galão beans iced wings single origin. Pumpkin spice carajillo at kopi-luwak dripper crema acerbic, kopi-luwak latte lungo, cortado, barista, in milk percolator.</p>

      </div>
    </div>
    <div class="large-6 small-12 columns" data-equalizer-watch>
      <a class="th" href="..static/img/img01.jpg"><img src="http://axs.berkeley.edu/static/img/img01.jpg"></a>
    </div>
  </div>

  <div class="row" data-equalizer>
    <div class="large-3 small-6 columns" data-equalizer-watch>
      <a class="th" href="http://axs.berkeley.edu/static/img/img02.jpg"><img src="http://axs.berkeley.edu/static/img/img02.jpg"></a>
    </div>
    <div class="large-3 small-6 columns" data-equalizer-watch>
      <a class="th" href="http://axs.berkeley.edu/static/img/img06.jpg"><img src="http://axs.berkeley.edu/static/img/img06.jpg"></a>
    </div>
    <div class="large-6 small-12 columns">
      <div class="panel" data-equalizer-watch>
        <p>VHS selfies Brooklyn, XOXO gentrify Godard trust fund authentic try-hard artisan freegan actually mixtape wayfarers polaroid. Flexitarian beard pickled tousled, McSweeney's put a bird on it pug bespoke seitan gastropub selvage actually twee. +1 mixtape hashtag, narwhal bicycle rights mustache PBR&B Etsy polaroid direct trade. Organic Godard PBR&B direct trade. Keffiyeh photo booth 3 wolf moon Cosby sweater blog McSweeney's, pickled Wes Anderson. Drinking vinegar selvage sustainable, farm-to-table flexitarian fap Vice bicycle rights Etsy ennui Echo Park direct trade actually.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-10 small-12 small-centered columns">
      <ul class="clearing-thumbs large-block-grid-9" data-clearing>
        <li><a class="th" href="http://axs.berkeley.edu/static/img/250.png"><img data-caption="i am a caption!  rawr!" src="http://axs.berkeley.edu/static/img/75.png"></a></li>
        <li><a class="th" href="http://axs.berkeley.edu/static/img/250.png"><img data-caption="guys what should I put here?" src="http://axs.berkeley.edu/static/img/75.png"></a></li>
        <li><a class="th" href="http://axs.berkeley.edu/static/img/250.png"><img data-caption="jo is making a website" src="http://axs.berkeley.edu/static/img/75.png"></a></li>
        <li><a class="th" href="http://axs.berkeley.edu/static/img/250.png"><img data-caption="this is a sentence" src="http://axs.berkeley.edu/static/img/75.png"></a></li>
        <li><a class="th" href="http://axs.berkeley.edu/static/img/250.png"><img data-caption="wait, what?" src="http://axs.berkeley.edu/static/img/75.png"></a></li>
        <li><a class="th" href="http://axs.berkeley.edu/static/img/250.png"><img data-caption="jo is typing..." src="http://axs.berkeley.edu/static/img/75.png"></a></li>
        <li><a class="th" href="http://axs.berkeley.edu/static/img/250.png"><img data-caption="computers are confusing" src="http://axs.berkeley.edu/static/img/75.png"></a></li>
        <li><a class="th" href="http://axs.berkeley.edu/static/img/250.png"><img data-caption="this is another sentence" src="http://axs.berkeley.edu/static/img/75.png"></a></li>
        <li><a class="th" href="http://axs.berkeley.edu/static/img/250.png"><img data-caption="jo is asking me to give him a sentence" src="http://axs.berkeley.edu/static/img/75.png"></a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <hr />
  </div>

  <div class="row">
    <br />
  </div>

  <div class="row">
    <div class="small-12 small-centered columns">
      <div class="panel footer">
        <div class="row">
          <div class="small-2 columns">
            &nbsp;
          </div>
          <div class="small-8 columns">
            <h6 class="text-center"><small>&copy; 2014 Alpha Chi Sigma, Sigma Chapter</small></h6>
            <h6 class="text-center"><small>If you have any questions, comments, or concerns, <a href="mailto:webmaster@axs.berkeley.edu">please let us know</a>.</small></h6>
            <h6 class="text-center"><small>This website was created using <a href="http://foundation.zurb.com/">Zurb Foundation 5.2.2</a> and <a href="https://www.djangoproject.com/">Django 1.4.5</a>.</small></h6>
            <h6 class="text-center show-for-large-up"><small>We are a student group acting independently of the UC System. We take full responsibility for our organization and this website.</small></h6>
            <h6 class="text-center hide-for-large-up"><small>We are a student group acting independently of the UC System.</small></h6>
            <h6 class="text-center hide-for-large-up"><small>We take full responsibility for our organization and this website.</small></h6>
            <h6 class="text-center"><small><a href="http://www.alphachisigma.org/">Alpha Chi Sigma National</a> | <a href="http://chemistry.berkeley.edu/">College of Chemistry</a> | <a href="http://berkeley.edu/">UC Berkeley</a></small></h6>
          </div>
          <div class="small-2 columns">
            <br />
            <a class="right" href="http://www.ocf.berkeley.edu">
              <img src="http://axs.berkeley.edu/static/img/ocfbadge_mini8dark.png" alt="Hosted by the OCF" width="98" height="39" style="border:0" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="http://axs.berkeley.edu/static/js/vendor/jquery.js"></script>
  <script src="http://axs.berkeley.edu/static/js/vendor/fastclick.js"></script>
  <script src="http://axs.berkeley.edu/static/js/foundation.min.js"></script>
  <script>
  $(document).foundation();
  </script>


</body>

</html> 
