/*

COLOR REFERENCE
===============

Berkeley Colors:
Blue: PANTONE 540 or #00335B or RGB(0, 51, 91)
Gold: PANTONE 139 or #AF7505 or RGB(175, 117, 5)
http://identity.berkeley.edu/guidelines/colors/

Berkeley web site palette:
http://www.berkeley.edu/misc/colors.shtml

*/

/* GENERAL */

html, body {
    background: #003153;
}

h1, h3, h5 {
  color:#DDDDDD;
}

/* Override foundation.css styling for search box */
.top-bar input[type="text"], .top-bar .button {
font-size: 0.77778rem;
position: relative;
top: 7px;
}

.top-bar input[type="text"] {
height: auto;
padding-top: 0.35rem;
padding-bottom: 0.35rem;
font-size: 0.75rem;
}

/* Override clearing left align */
ul.clearing-list {
   text-align: center;
}
ul.clearing-list li {
   display: inline-block;
   float: none;
}

/* Dropdown settings */
select.grayed
{
    color: #a9a9a9;
}
option.grayed
{
    color: #000;
}
option.grayed:first-child
{
    color: #a9a9a9;
}

/* Panel settings */
.panel {
  border-style: solid;
  border-width: 2px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #ffa700;
}
  .panel.footer {
  	background: #001829;
    border-width: 0px;
    padding: .5rem;
    padding-bottom: 0;
  }
    .panel.footer p{
      color:#DDDDDD;
    }




/* Table Settings */

table.bank {
  background: #b2c1cb;
  margin-bottom: 1.25rem;
  border: solid 1px #dddddd; }
  table.bank thead,
  table.bank tfoot {
    background: #003153; }
    table.bank thead tr th,
    table.bank thead tr td,
    table.bank tfoot tr th,
    table.bank tfoot tr td {
      padding: 0.5rem 0.625rem 0.625rem;
      font-size: 0.875rem;
      font-weight: bold;
      color: #FFFFFF;
      text-align: left; }
  table.bank tr th,
  table.bank tr td {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #222222; }
  table.bank tbody tr:hover {
    background: #668397;
  }
  table.bank tbody tr:hover a {
    color: #e5eaed;
    text-shadow: 1px 1px #001d31;
  }
  table.bank tbody td:hover {
    background: #4c6e86;
  }
  table.bank a {
    font-weight: bold;
    text-shadow: 1px 1px #e5eaed;
    color: #001829;
    display:block;
    width:100%;
    height:100%;
  }
  table.bank a:hover {
    font-weight: bold;
    color: #001829;
    text-shadow: 1px 1px #001d31;
  }
  .dl:after {
    content: url('../../static/img/external.png');
  }
  table.bank tr.even, table.bank tr.alt, table.bank tr:nth-of-type(even) {
    background: #99acba; }
  table.bank thead tr th,
  table.bank tfoot tr th,
  table.bank tbody tr td,
  table.bank tr td,
  table.bank tfoot tr td {
    display: table-cell;
    line-height: 1.125rem; }

  ul.pagination li {
    height: 1.5rem;
    color: #DDDDDD;
    font-size: 0.875rem;
    margin-left: 0.3125rem;
    background: #DDDDDD;
    border-radius: 3px; }
    ul.pagination li a {
      display: block;
      padding: 0.0625rem 0.625rem 0.0625rem;
      color: #222222;
      border-radius: 3px; }
    ul.pagination li:hover a,
    ul.pagination li a:focus {
      background: #008cba;
      color: #DDDDDD; }
    ul.pagination li.unavailable a {
      cursor: default;
      color: #999999; }
    ul.pagination li.current a {
      background: #008cba;
      color: white;
      font-weight: bold;
      cursor: default; }
      ul.pagination li.current a:hover, ul.pagination li.current a:focus {
        background: #008cba; }
