{% include 'base.html' %}
  <!--header end, begin body-->
		<div class="row">
			<div class="large-12 small-12 columns">
					<h1>Practice Exams</h1>
			<div class="panel">
				<p>As one of the oldest extant chemistry societies at Berkeley, we've amassed quite a stockpile of past chemistry and chemical engineering exams.</p>
        <p>These exams were collected solely to aid students in studying for their exams, and are available to the public solely for such a purpose.</p>
        <p>Use the search functionality to narrow down the exams you're looking for (for instance, by course or instructor), and use the table headers to sort by a parameter.</p>
        <p>If you are an instructor and would like us to remove any of your exams, please contact <a href="mailto:webmaster@axe.berkeley.edu?subject=Practice Exam Takedown Request">webmaster@axe.berkeley.edu</a>.</p>
			</div>
				
	<div id="exams" class="panel">
		<table cellpadding="0" cellspacing="0" border="0" class="display bank" id="midterms" width="100%" class="responsive">
	        <col style="width:30%">
	        <col style="width:25%">
	        <col style="width:9%">
	        <col style="width:11%">
	        <col style="width:7%">
	        <col style="width:11%">
	        <col style="width:8%">
			<thead>
				<tr>
					<th>Instructor</th>
					<th>Subject</th>
					<th>Course</th>
					<th>Exam</th>
					<th>Key?</th>
					<th>Term</th>
					<th>Year</th>
				</tr>
			</thead>
			<tbody>
			{% for exam in exams %}
				<tr>
					<td>
						<a href="{{ BASE_URL }}/{{ MEDIA_ROOT }}/exams/{{ exam.pdf_path }}" class="dl">
							{{ exam.instructor }}
						</a>
					</td>
					<td>{{ exam.subject }}</td>
					<td>{{ exam.course }}</td>
					<td>{{ exam.exam }}</td>
					{% if exam.key %}
					<td>Yes</td>
					{% else %}	
					<td>No</td>
					{% endif %}
					<td>{{ exam.term }}</td>
					<td>{{ exam.year }}</td>
				</tr>
			{% endfor %}	
			<!--
				<tr>
					<td>
						<a href="{{ BASE_URL }}/{{ MEDIA_ROOT }}/exams/cheme140-fa2013-mt1-Radke-exam.pdf" class="dl">
							Cuk
						</a>
					</td>
					<td>Chemistry</td>
					<td>120A</td>
					<td>Midterm 1</td>
					<td>Yes</td>
					<td>Spring</td>
					<td>2014</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Cuk
						</a>
					</td>
					<td>Chemistry</td>
					<td>120A</td>
					<td>Midterm 2</td>
					<td>Yes</td>
					<td>Spring</td>
					<td>2014</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Hartwig
						</a>
					</td>
					<td>Chemistry</td>
					<td>104B</td>
					<td>Midterm 1</td>
					<td>Yes</td>
					<td>Spring</td>
					<td>2014</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Hartwig
						</a>
					</td>
					<td>Chemistry</td>
					<td>104B</td>
					<td>Midterm 2</td>
					<td>Yes</td>
					<td>Spring</td>
					<td>2014</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Fischer
						</a>
					</td>
					<td>Chemistry</td>
					<td>112B</td>
					<td>Midterm 1</td>
					<td>Yes</td>
					<td>Spring</td>
					<td>2014</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Fischer
						</a>
					</td>
					<td>Chemistry</td>
					<td>112B</td>
					<td>Midterm 2</td>
					<td>Yes</td>
					<td>Spring</td>
					<td>2014</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Groves
						</a>
					</td>
					<td>Chemistry</td>
					<td>105</td>
					<td>Midterm 1</td>
					<td>Yes</td>
					<td>Spring</td>
					<td>2014</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Groves
						</a>
					</td>
					<td>Chemistry</td>
					<td>105</td>
					<td>Midterm 2</td>
					<td>Yes</td>
					<td>Spring</td>
					<td>2014</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Radke
						</a>
					</td>
					<td>Chemical Engineering</td>
					<td>140</td>
					<td>Midterm 1</td>
					<td>Yes</td>
					<td>Fall</td>
					<td>2013</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Radke
						</a>
					</td>
					<td>Chemical Engineering</td>
					<td>140</td>
					<td>Midterm 2</td>
					<td>Yes</td>
					<td>Fall</td>
					<td>2013</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Tilley
						</a>
					</td>
					<td>Chemistry</td>
					<td>104A</td>
					<td>Midterm 1</td>
					<td>Yes</td>
					<td>Fall</td>
					<td>2013</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Tilley
						</a>
					</td>
					<td>Chemistry</td>
					<td>104A</td>
					<td>Midterm 2</td>
					<td>Yes</td>
					<td>Fall</td>
					<td>2013</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Cohen
						</a>
					</td>
					<td>Chemistry</td>
					<td>4A</td>
					<td>Midterm 1</td>
					<td>Yes</td>
					<td>Fall</td>
					<td>2012</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Cohen
						</a>
					</td>
					<td>Chemistry</td>
					<td>4A</td>
					<td>Midterm 2</td>
					<td>Yes</td>
					<td>Fall</td>
					<td>2012</td>
				</tr>
					<tr>
					<td>
						<a href="#" class="dl">
							Cate/Douskey
						</a>
					</td>
					<td>Chemistry</td>
					<td>4B</td>
					<td>Midterm 1</td>
					<td>Yes</td>
					<td>Spring</td>
					<td>2013</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Cate/Douskey
						</a>
					</td>
					<td>Chemistry</td>
					<td>4B</td>
					<td>Midterm 2</td>
					<td>Yes</td>
					<td>Spring</td>
					<td>2013</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Cate/Douskey
						</a>
					</td>
					<td>Chemistry</td>
					<td>4B</td>
					<td>Midterm 3</td>
					<td>Yes</td>
					<td>Spring</td>
					<td>2013</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Baranger
						</a>
					</td>
					<td>Chemistry</td>
					<td>112A</td>
					<td>Midterm 1</td>
					<td>Yes</td>
					<td>Fall</td>
					<td>2013</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Baranger
						</a>
					</td>
					<td>Chemistry</td>
					<td>112A</td>
					<td>Midterm 2</td>
					<td>Yes</td>
					<td>Fall</td>
					<td>2013</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Robak
						</a>
					</td>
					<td>Chemistry</td>
					<td>3A</td>
					<td>Midterm 1</td>
					<td>Yes</td>
					<td>Summer</td>
					<td>2012</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Cuk
						</a>
					</td>
					<td>Chemistry</td>
					<td>120A</td>
					<td>Final Exam</td>
					<td>Yes</td>
					<td>Spring</td>
					<td>2014</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Hartwig
						</a>
					</td>
					<td>Chemistry</td>
					<td>104B</td>
					<td>Final Exam</td>
					<td>Yes</td>
					<td>Spring</td>
					<td>2014</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Fischer
						</a>
					</td>
					<td>Chemistry</td>
					<td>112B</td>
					<td>Final Exam</td>
					<td>Yes</td>
					<td>Spring</td>
					<td>2014</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Groves
						</a>
					</td>
					<td>Chemistry</td>
					<td>105</td>
					<td>Final Exam</td>
					<td>Yes</td>
					<td>Spring</td>
					<td>2014</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Radke
						</a>
					</td>
					<td>Chemical Engineering</td>
					<td>140</td>
					<td>Final Exam</td>
					<td>Yes</td>
					<td>Fall</td>
					<td>2013</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Tilley
						</a>
					</td>
					<td>Chemistry</td>
					<td>104A</td>
					<td>Final Exam</td>
					<td>Yes</td>
					<td>Fall</td>
					<td>2013</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Cohen
						</a>
					</td>
					<td>Chemistry</td>
					<td>4A</td>
					<td>Final Exam</td>
					<td>Yes</td>
					<td>Fall</td>
					<td>2012</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Cate/Douskey
						</a>
					</td>
					<td>Chemistry</td>
					<td>4B</td>
					<td>Final Exam</td>
					<td>Yes</td>
					<td>Spring</td>
					<td>2013</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Baranger
						</a>
					</td>
					<td>Chemistry</td>
					<td>112A</td>
					<td>Final Exam</td>
					<td>Yes</td>
					<td>Fall</td>
					<td>2013</td>
				</tr>
				<tr>
					<td>
						<a href="#" class="dl">
							Robak
						</a>
					</td>
					<td>Chemistry</td>
					<td>3A</td>
					<td>Final Exam</td>
					<td>Yes</td>
					<td>Summer</td>
					<td>2012</td>
				</tr> -->
			</tbody>
			<tfoot>
				<tr>
					<th>Instructor</th>
					<th>Subject</th>
					<th>Course</th>
					<th>Exam</th>
					<th>Key?</th>
					<th>Term</th>
					<th>Year</th>
				</tr>
			</tfoot>
		</table>
				</div>

			</div>
		</div>
			

  <div class="row">
    <hr />
  </div>

<!--  <div class="row">
    <div class="small-12 small-centered columns">
      <div class="panel footer">
        <p class="text-center"><small>this is build by the jo</small></p>
      </div>
    </div>
  </div> 

  <script src="http://axs.berkeley.edu/static/js/vendor/fastclick.js"></script>
  <script src="http://axs.berkeley.edu/static/js/foundation.min.js"></script>
  <script>
  	$(document).foundation();
  </script>
-->


<div class="row">
    <div class="small-12 small-centered columns">
      <div class="panel footer">
        <div class="row">
          <div class="small-2 columns">
            &nbsp;
          </div>
          <div class="small-8 columns">
            <h6 class="text-center"><small>&copy; 2014 Alpha Chi Sigma, Sigma Chapter</small></h6>
            <h6 class="text-center"><small>If you have any questions, comments, or concerns, <a href="mailto:webmaster@axs.berkeley.edu">please let us know</a>.</small></h6>
            <h6 class="text-center"><small>This website was created using <a href="http://foundation.zurb.com/">Zurb Foundation 5.2.2</a> and <a href="https://www.djangoproject.com/">Django 1.4.5</a>.</small></h6>
            <h6 class="text-center show-for-large-up"><small>We are a student group acting independently of the UC System. We take full responsibility for our organization and this website.</small></h6>
            <h6 class="text-center hide-for-large-up"><small>We are a student group acting independently of the UC System.</small></h6>
            <h6 class="text-center hide-for-large-up"><small>We take full responsibility for our organization and this website.</small></h6>
            <h6 class="text-center"><small><a href="http://www.alphachisigma.org/">Alpha Chi Sigma National</a> | <a href="http://chemistry.berkeley.edu/">College of Chemistry</a> | <a href="http://berkeley.edu/">UC Berkeley</a></small></h6>
          </div>
          <div class="small-2 columns">
            <br />
            <a class="right" href="http://www.ocf.berkeley.edu">
              <img src="http://axs.berkeley.edu/static/img/ocfbadge_mini8dark.png" alt="Hosted by the OCF" width="98" height="39" style="border:0" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="http://axs.berkeley.edu/static/js/vendor/jquery.js"></script>
  <script src="http://axs.berkeley.edu/static/js/vendor/fastclick.js"></script>
  <script src="http://axs.berkeley.edu/static/js/foundation.min.js"></script>
  <script>
  $(document).foundation();
  </script>

</body>
</html> 
